html {
				font-family: Arial, Verdana, sans-serif;
				color: #665544;
				text-align: center;}
			body {
				width: 90%;
				margin: 0 auto;
				background-image: url("https://i.ytimg.com/vi/HPph35tdMP8/maxresdefault.jpg");
 				background-repeat:repeat;}
			h1 {
				font-family: 'SpaceMeatballRegular'; 
				font-weight: normal; 
				font-style: normal;}
			#content {
				overflow: auto;}
			#nav, #feature, #footer {
				margin: 1%;}
			.column1, .column2, .column3 {
				width: 31.3%;
				float: left;
				margin: 1%;}
			.column3 {
				margin-right: 0%;}
			li {
				display: inline;
				padding: 0.5em;}
			#nav, #footer {
				padding: 0.5em 0;}
			#feature, .article {
				height: 10em;
				margin-bottom: 1em;}
			#feature {
				background-color: #FEFEFE;
				background-image: url("https://yt3.ggpht.com/a-/AAuE7mAOzJeUhnaCQpCrB8z58jvoroZFpAAB_9nD7w=s900-mo-c-c0xffffffff-rj-k-no");
				background-size:contain;
				background-position: right;
				background-repeat:no-repeat;}
			.column1 {
				background-color: #F4D018}
			.column2 {
				background-color: #1BBA09}
			.column3 {
				background-color: #57A5FE}
			#footer {
				background-color: #FE1616}
			#nav {
				background-color: #FE1616}
			
