html {
				font-family: Arial, Verdana, sans-serif;
				color: #665544;
				text-align: center;}
			body {
				width: 90%;
				margin: 0 auto;
				background-image: url("https://i.ytimg.com/vi/HPph35tdMP8/maxresdefault.jpg");
 				background-repeat:repeat;}
			h1 {
				font-family: 'SpaceMeatballRegular'; 
				font-weight: normal; 
				font-style: normal;}
			#content {
				overflow: auto;}
			#nav, #feature, #footer {
				margin: 1%;}
			.column1, .column2, .column3 {
				width: 31.3%;
				float: left;
				margin: 1%;}
			.column3 {
				margin-right: 0%;}
			li {
				display: inline;
				padding: 0.5em;}
			#nav, #footer {
				padding: 0.5em 0;}
			#feature, .article {
				height: 10em;
				margin-bottom: 1em;}
			#feature {
				background-color: #969898;
				background-image: url("https://www.google.com/search?rlz=1C1GCEA_enUS847&tbm=isch&q=google&chips=q:google,g_1:icon:al9-_UMH9M0%3D&usg=AI4_-kSYdvrswg5tOS5FROZ53ED8u8PYkg&sa=X&ved=0ahUKEwjrjJGSqYDiAhWT3lQKHRtKD4MQ4lYIKCgB&biw=1920&bih=969&dpr=1#imgrc=4HKBoavx3pMVsM:");
				background-size:contain;
				background-position: right;
				background-repeat:no-repeat;}
			.column1 {
				background-color: #F4D018}
			.column2 {
				background-color: #1BBA09}
			.column3 {
				background-color: #57A5FE}
			#footer {
				background-color: #802323}
			#nav {
				background-color: #FE1616}
			
